@model Product

<li class="catalog__item">
    <form asp-action="AddProduct" asp-controller="Basket" method="post">
        <a class="catalog__link">
            <img width="300"
                 height="300"
                 src="@Model.PictureUrl"
                 alt="@Model.Name"
                 class="catalog__image" />
            <h4 class="catalog__name">@Model.Name</h4>
            <p class="catalog__price">$@Model.Price.ToString("N2")9</p>

            <input type="hidden" asp-for="@Model.Id" name="id" />
            <input type="hidden" asp-for="@Model.Name" name="name" />
            <input type="hidden" asp-for="@Model.Description" name="description" />
            <input type="hidden" asp-for="@Model.Price" name="price" />
            <input type="hidden" asp-for="@Model.Amount" name="amount" />
            <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
            <input type="hidden" asp-for="@Model.Type" name="type" />
            <input type="hidden" asp-for="@Model.Brand" name="brand" />
        </a>
        <button class="button" type="submit">Add to card</button>
    </form>
</li>

